# Please note that using these options in a .htaccess file is no longer possible in recent versions of Apache, as it leads to really insecure installations. You should put these lines in your httpd.conf instead. 

# Do not perform actual verification of certificate contents (skip verifying the CA too)
SSLVerifyClient optional_no_ca
# Do not recursively check who signed the certificate (stop after the initial check)
SSLVerifyDepth 1
# Export certificate contents to the environment (can be used by other programs - e.g. PHP / Java, etc)
SSLOptions +ExportCertData
