# Do not perform actual verification of certificate contents (skip going up the chain)
SSLVerifyClient optional_no_ca
# Do not recursively check who signed the certificate (stop after the initial check)
SSLVerifyDepth 1
# Export certificate contents to the environment (can be used by other programs - e.g. PHP / Java, etc)
SSLOptions +ExportCertData
